# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\nam3-ki2\cnpm\scWebApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
