* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.test1:hover .header-dropdown-menu {
    display: block;
}

.header-dropdown-menu {
    display: none;
    padding: 7px 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    width: 280px;
}

.thumbnail {
    height: calc(100vh - 70px);
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.picthumbnail {
    width: 1240px;
    height: 405px;
}

.foodcategory {
    display: flex;
    justify-content: left;
    font-weight: bold;
    border-bottom: 1px solid #dcdacb;
}

.foodcategorytext {
    font-weight: 800;
    text-transform: none;
    font-size: 1.375rem;
}

.trending-item {
    position: relative;
    transition: z-index 0s ease .2s;
    z-index: 1;
    display: inline-block;
    margin: .5rem;
    font-size: 16px;
    vertical-align: top;
    width: 255px;
    height: 255px;
}

.trending-item-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-top: 100%;
    border-radius: 4px;
    margin-bottom: .5rem;
}

.trending-item-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
    transition: 0.2 ease-in-out;
    display: block;
}

.trending-item:hover {
    transform: translateY(-3px)
}

.footer {
    margin-top: 1rem;
    padding-top: 1rem;
}

.lang-menu {
    width: 100px;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 50px;
    position: relative;
}

.lang-menu .selected-lang {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}

.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://www.countryflags.io/us/flat/32.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 45px;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.de:before {
    background-image: url(https://www.countryflags.io/de/flat/32.png);
}

.en:before {
    background-image: url(https://www.countryflags.io/us/flat/32.png);
}

.fr:before {
    background-image: url(https://www.countryflags.io/fr/flat/32.png);
}

.ar:before {
    background-image: url(https://www.countryflags.io/ae/flat/32.png);
}

.lang-menu:hover ul {
    display: block;
}

.kj-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1.2rem 4.8rem;
    border-top: 1px solid #dcdacb;
    border-bottom: 1px solid #dcdacb;
}

.kj-notice {
    flex: 1;
    padding: 1.2rem 2.4rem 1.2rem 0;
    min-width: 40rem;
}

.kj-partner-logo {
    margin: 1.2rem 0;
    vertical-align: middle;
}

.more-content {
    display: none;
}

.show-more-btn {}